body {
    margin: 0px;
    padding: 0px;
}

.div1 {
    background-color: #98ff98;
    height: 8rem;
    width: 100vh;
}

.div2 {

    background-color: #add8e6;
    height: 8rem;
    width: 100vh;
}

.div3 {

    background-color: #ffc0cb;
    height: 8rem;
    width: 100vh;
}

.div4 {

    background-color: #d3d3d3;
    height: 8rem;
    width: 100vh;
}

.div5 {

    background-color: #808080;
    height: 8rem;
    width: 100vh;
}

.div6 {

    background-color: #555555;
    height: 8rem;
    width: 100vh;
}

.div7 {

    background-color: #f5f5dc;
    height: 8rem;
    width: 100vh;
}

.div8 {

    background-color: #a7daff;
    height: 8rem;
    width: 100vh;
}
.div9 {

    background-color: #fa8072;
    height: 8rem;
    width: 100vh;
}
.div10 {

    background-color: #ff6347;
    height: 8rem;
    width: 100vh;

}
.div11 {
    background-color: #98fb98;
    height: 8rem;
    width: 100vh;

}
.div12 {
    background-color: #f5dcdc;
    height: 8rem;
    width: 100vh;
}
.div13 {
    background-color: #c0e6ff;
    height: 8rem;
    width: 100vh;
}
.div14 {
    background-color: #d2d2ff;
    height: 8rem;
    width: 100vh;
}