@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f5dcdc;
}

header {
    margin: 2rem 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 20px;
}

header > .container-left {
    display: flex;
    align-items: center;
}
header > .container-left > img {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

header > .container-center {
    margin-left: 120px;
    display: flex;
    gap: 3rem;
}
header > .container-center > a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: color .6s;
}
 header > .container-center > a:hover {
    color: rgba(160, 158, 158, 0.63);
 }
header > .container-right {
    display: flex;
    gap: 1rem;
}
header > .container-right > a > button {
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
header > .container-right > a > .button-log {
    background-color: white;
    transition: background-color .4s;
}
header > .container-right > a > .button-log:hover {
    background-color: rgba(255, 255, 255, 0.719);
}
header > .container-right > a > .button-sign {
    background-color: #ffc0cb;
    transition: background-color .4s;
}
header > .container-right > a > .button-sign:hover {
    background-color: #eeafb9bb;
}
main {
    margin: 8rem 200px;
}
main > div > h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2rem;
}

main > .container-main {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 80px;
}
main > .container-main >  .products-description {
    background-color: white;
    color: black;
    width: 380px;
    height: auto;
    border-radius: 8px 8px 4px 4px;
    border: 1px solid #ebebeb;
    font-size: 16px;
}
main > .container-main > .products-description > img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
}
main > .container-main > .products-description > .description-product {
    margin: 40px 40px;
}
 main > .container-main > .products-description > .description-product > p > span {
    color: #a5a5a5;
 }
 main > .container-main > .products-description > .description-product > section  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin-top: 50px;
 }
 main > .container-main > .products-description > .description-product > .list-price > .price-product  { 
    font-size: 22px;
 }
 main > .container-main > .products-description > .description-product > .list-price > .market-cart  { 
    font-size: 20px;
 }

 main > .view-more {
    font-size: 24px;
    text-align: end;
    margin: 22px 0px;
    color: #b55b51;
 }
 footer {
    background-color: #ebebebcc;
    color: black;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 footer >  div h1 {
    font-size: 18px;
 }
 footer > div .link-rapido {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
 }
 footer > div > .link-rapido > a {
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
 }
 footer > div > .media-social {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
 }
 footer > div > .media-social > a {
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
 }
