@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #d3d3ff;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 8rem;
    
}
body header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body header a {
    text-decoration: none;
    color: blueviolet;
}
body form {
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.616);
    padding: 80px 50px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 53px 17px rgba(209,202,209,0.56);
}
body form .form-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
body form .form-list div {
    display: flex;
    flex-direction: column;
}
body form .form-list div label {
    margin-bottom: 5.4px;
}
body form .form-list div input {
    width: 240px;
    padding: 10px 10px;
    border: 2px solid #ffc0cb91;
    border-radius: 3px;
    background-color: white;
    color: #323232;
}
body form .form-list div input::placeholder {
    color: #b5b5b5
}
body form .form-list span {
    margin: 3.8px 4.8px;
    color: #e63636;
    font-size: 12px;
    display: none;
}
body form .form-list input[type=submit] {
    border: none;
    border-radius: 4px;
    background-color: #ffc0cb;
    padding: 15px 80px;
    margin: auto;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 1s;
}
body form .form-list input[type=submit]:focus {
    border: none;
    border-radius: 4px;
    background-color: #ffc0cb91;
    padding: 15px 80px;
    margin: auto;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 1s;
}
body form .form-list input[type=submit]:hover {
    background-color: #ffc0cb91;
    color: black;
    font-weight: bold;
}
body > main > .recupe-senha  {
    margin-top: 0.8rem;
    text-align: center;
    font-size: 14px;
}

body > main > .recupe-senha > span > a {
    color: blueviolet;
    text-decoration: none;
}


