@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #d3d3ff;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    font-family: 'Roboto', sans-serif;
}

body  > header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body  header  h1 {
    font-size: 42px;
}
body header span .login {
    text-decoration: none;
    cursor: pointer;
    color: blueviolet;
}
body form {
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.616);
    padding: 30px 50px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 53px 17px rgba(209,202,209,0.56);
}
body form .form-register {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
body form .form-register div {
    display: flex;
    flex-direction: column;
}
body form .form-register div label {
    margin-bottom: 5.4px;
}
body form .form-register div input {
    width: 240px;
    padding: 10px 10px;
    border: 2px solid #ffc0cb91;
    border-radius: 3px;
    background-color: white;
    color: #323232;
}
body form .form-register div input::placeholder {
    color: #b5b5b5
}
body form .form-register span {
    margin: 3.8px 4.8px;
    color: #e63636;
    font-size: 12px;
    display: none;
}
body form .form-register input[type=submit] {
    border: none;
    border-radius: 4px;
    background-color: #ffc0cb;
    padding: 15px 80px;
    margin: auto;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 1s;
}
body form .form-register input[type=submit]:hover {
    background-color: #ffc0cb91;
    color: black;
    font-weight: bold;
}